.insert-form{
    background-color: whitesmoke; 
    border-radius: 12px;
    height: 100%;
}

.container-login100{
    background-image: url("../images/login-back2.png") !important;
    background-size:     cover !important;                      /* <------ */
    background-repeat:   no-repeat !important;
    background-position: center center !important;  
}


.back-orange{
    background-color: orange;
}

.back{
    background-image: url("../images/home.png") !important;
    background-size:     cover !important;                      /* <------ */
    background-repeat:   no-repeat !important;
    background-position: center center !important;  
}

.body-fit{
    height: calc(100vh + 65px) !important;
}

@media (max-width: 576px) {
    .body-fit{
        height: calc(100vh + 75px) !important;
    }
  }