.insert-form{
    background-color: whitesmoke; 
    border-radius: 12px;
    height: 100%;
}

.container-login100{
    background-image: url("../images/home-login2.png") !important;
    background-size:     cover !important;                      /* <------ */
    background-repeat:   no-repeat !important;
    background-position: center center !important;  
}


.back-orange{
    background-color: orange;
}

.back{
    background-image: url("../images/home-login2.png") !important;
    background-size:     cover !important;                      /* <------ */
    background-repeat:   no-repeat !important;
    background-position: center center !important;  
}

.body-fit{
    height: calc(100vh + 65px) !important;
}

.last-ben{
    height: 15vh;
    width: auto;
    overflow:auto;
    ;color:black;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
}

.tableFixHead          { 
    overflow-y: auto; 
    height: 400px; 
}

.tableFixHead thead th { 
    position: sticky; top: 0; 
    background:#eee;
}

.webcam-canvas .webcam-canvas-result{
    width: auto;
    height: 240px;
}

.select2-container {
    min-width: 19em !important;
}

@media (max-width: 576px) {
    .body-fit{
        height: calc(100vh + 75px) !important;
    }

    .webcam-canvas{
        width: 67vw;
        height: 240px;
    }

    .webcam-canvas-result{
        max-width: 67vw;
        width: auto;
        height: 240px;
    }
  }