<div class="tableFixHead">
<table class="table table-hover ">
    <thead>
      <tr>
        <th>Data</th>
        <th>DAP</th>
        <th>Beneficiário</th>
        <th>Litros de Leite</th>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for transacao in transacoes %}
        <tr>
          <td>{{ transacao.data|date:'d/m/Y' }}</td>
          <td>{{ transacao.beneficiario.dap }}</td>
          <td>{{ transacao.beneficiario.nome }}</td>
          <td>{{ transacao.litros }}</td>
          <td>{{ transacao.tipo }}</td>
          <td><button class="login100-form-btn" type="button" delete-url="{% url 'ajax_delete_transacao_coop' %}" transacao-id="{{ transacao.id }}" onclick="delete_transacao(this)">DELETAR</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <br>
  {% if transacoes.has_other_pages %}
    <ul class="pagination justify-content-center">
      {% if transacoes.has_previous %}
        <li class="page-item"><button type="button" name="pagination-link" class="page-link" onclick="go_page(this)" page="{{ transacoes.previous_page_number }}">&laquo;</button></li>
      {% else %}
        <li class="page-item" ><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in transacoes.paginator.page_range %}
        {% if transacoes.number == i %}
          <li class="active page-item"><span id="active-page" page="{{ i }}" class="page-link">{{ i }} <span class="sr-only" class="page-link">(current)</span></span></li>
        {% else %}
          <li class="page-item"><button type="button" name="pagination-link" class="page-link" onclick="go_page(this)" href="" page="{{ i }}">{{ i }}</button></li>
        {% endif %}
      {% endfor %}
      {% if transacoes.has_next %}
        <li class="page-item"><button type="button" id="pagination-link" name="pagination-link" class="page-link" onclick="go_page(this)" href="" page="{{ transacoes.next_page_number }}">&raquo;</button></li>
      {% else %}
        <li class="page-item"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
