<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% include 'relatorios/ga-tag.html' %}
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	{% load static %}	
	{% comment %} <link href="{% static "relatorios/css/bootstrap.min.css" %}" rel="stylesheet"> {% endcomment %}
	<link href="{% static "relatorios/css/style.css" %}" rel="stylesheet">
	<link id="beep-audio" href="{% static "relatorios/audio/beep.mp3" %}" rel="audio">
	<link  id="decoder-web" href="{% static "relatorios/js/DecoderWorker.js" %}"></script>
	<link rel="icon" type="image/png" href="{% static "relatorios/images/icons/favicon.ico" %}"    />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/bootstrap/css/bootstrap.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/animate/animate.css" %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/css-hamburgers/hamburgers.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/animsition/css/animsition.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/select2/select2.min.css" %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/daterangepicker/daterangepicker.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/css/util.css" %} ">
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/css/main.css" %} ">
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/css/custom.css" %} ">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter  back" style="min-height: 100%;">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Sistema Leite</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
			  </ul>
			  <form action="{% url 'logout' %}" method="post"class="form-inline my-2 my-lg-0">
				{% csrf_token %}
				<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sair</button>
			  </form>
			</div>
		  </nav>
		<div class="container ">
			<div class="container-fluid insert-form" style="margin-top: 15px;    min-height: 64vh;">
			<form method="post" style="padding-top: 20px;">
				{% csrf_token %}
	
			<div class="form-group">
				  <label for="exampleFormControlSelect1">Ponto:</label>
				  <select name=ponto class="form-control" id="ponto" required>
					{% for ponto in ponto_list %}
					<option value={{ponto.id}}>{{ponto.nome}} | {{ponto.cod_ibge.municipio}}</option>
					{% endfor %}
				  </select>
			</div>

			<div class="container" id="QR-Code">
            <div class="panel panel-info">
                <div class="panel-heading">
						<label>Câmera:</label>
                        <select class="form-control" id="camera-select"></select>
                        <div class="form-group">
                            <button title="Decode Image" class="btn btn-default btn-sm" id="decode-img" type="button" data-toggle="tooltip"><span class="glyphicon glyphicon-upload"></span></button>
                            <button title="Image shoot" class="btn btn-info btn-sm disabled" id="grab-img" type="button" data-toggle="tooltip"><span class="glyphicon glyphicon-picture"></span></button>
                            <button title="Play" class="btn btn-success btn-sm" id="play" type="button" data-toggle="tooltip"><span class="glyphicon glyphicon-play"></span></button>
                            <button title="Pause" class="btn btn-warning btn-sm" id="pause" type="button" data-toggle="tooltip"><span class="glyphicon glyphicon-pause"></span></button>
                            <button title="Stop streams" class="btn btn-danger btn-sm" id="stop" type="button" data-toggle="tooltip"><span class="glyphicon glyphicon-stop"></span></button>
                         </div>
                </div>
                <div class="panel-body text-center">
                    <div class="col-md-auto">
                        <div class="well" style="position: relative;display: inline-block;">
                            <canvas class="webcam-canvas" id="webcodecam-canvas"></canvas>
                            <div class="scanner-laser laser-rightBottom" style="opacity: 0.5;"></div>
                            <div class="scanner-laser laser-rightTop" style="opacity: 0.5;"></div>
                            <div class="scanner-laser laser-leftBottom" style="opacity: 0.5;"></div>
                            <div class="scanner-laser laser-leftTop" style="opacity: 0.5;"></div>
                        </div>
                        <div class="well" style="width: 100%;">
                            <label id="zoom-value" width="100">Zoom: 2</label>
                            <input id="zoom" onchange="Page.changeZoom();" type="range" min="10" max="30" value="20">
                            {% comment %} <label id="brightness-value" width="100">Brightness: 0</label>
                            <input id="brightness" onchange="Page.changeBrightness();" type="range" min="0" max="128" value="0">
                            <label id="contrast-value" width="100">Contrast: 0</label>
                            <input id="contrast" onchange="Page.changeContrast();" type="range" min="0" max="64" value="0">
                            <label id="threshold-value" width="100">Threshold: 0</label>
                            <input id="threshold" onchange="Page.changeThreshold();" type="range" min="0" max="512" value="0">
                            <label id="sharpness-value" width="100">Sharpness: off</label>
                            <input id="sharpness" onchange="Page.changeSharpness();" type="checkbox">
                            <label id="grayscale-value" width="100">grayscale: off</label>
                            <input id="grayscale" onchange="Page.changeGrayscale();" type="checkbox">
                            <br>
                            <label id="flipVertical-value" width="100">Flip Vertical: off</label>
                            <input id="flipVertical" onchange="Page.changeVertical();" type="checkbox">
                            <label id="flipHorizontal-value" width="100">Flip Horizontal: off</label>
                            <input id="flipHorizontal" onchange="Page.changeHorizontal();" type="checkbox"> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="thumbnail" id="result">
                            <div class="well" style="overflow: hidden;">
                                <img class="webcam-canvas-result" id="scanned-img" src="">
                            </div>
                            <div class="caption" style="padding-bottom: 15px;">
                                <p id="scanned-QR"></p>
                                <input readonly id="scanned-code" oninput="getBen(this)" beneficiario-url="{% url 'ajax_view_beneficiario' %}" type="text" class="form-control" placeholder="NIS">
                            </div>
							</form>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
            </div>
        </div>
			</div>
		<div>
	</div>
</div>

	<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div id="modal-beneficiario-content" class="modal-content">
			
		</div>
	</div>
	<script type="text/javascript" src="{% static "relatorios/js/filereader.js" %}" ></script>
	<!-- Using jquery version: -->
	<!--
		
		<script type="text/javascript" src="js/qrcodelib.js"></script>
		<script type="text/javascript" src="js/webcodecamjquery.js"></script>
		<script type="text/javascript" src="js/mainjquery.js"></script>
	-->
	<script type="text/javascript" src="{% static "relatorios/js/qrcodelib.js" %}"></script>
	<script type="text/javascript" src="{% static "relatorios/js/webcodecamjs.js" %}"></script>
	<script type="text/javascript" src="{% static "relatorios/js/main_qr.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/jquery/jquery-3.2.1.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/animsition/js/animsition.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/bootstrap/js/popper.js" %} "></script>
	<script src="{% static "relatorios/vendor/bootstrap/js/bootstrap.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/select2/select2.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<!--===============================================================================================-->
	<script>
	const csrftoken = Cookies.get('csrftoken');

	function getBen() {
			var nis = $("#scanned-code").val();
			var url = $("#scanned-code").attr("beneficiario-url");
			var ponto = $("#ponto").val();
			
		  	$.ajax({
				  url: url,
				  type: 'post',
				  data: {
						'nis' : nis,
						'litros' : 4,
						'ponto'  : ponto		        
			      },
				  headers: {
					'X-CSRFToken': csrftoken
				  },
				success: function (data) {
					$('#pause').click();  
			  		$("#modal-beneficiario-content").html(data);
				    $('#ExemploModalCentralizado').modal('show');
				}
		  	});
		}

	function cancelTransaction(){
		$('#ExemploModalCentralizado').modal('hide');
		$('#play').click(); 
	}

	$("#ExemploModalCentralizado").on('hide.bs.modal', function (){
		$('#play').click();
	});

	function insertTransacaoPonto() {
		var nis = $("#final-nis").val();
		var url = $("#insert-transacao").attr("insert-transacao-url");
		var ponto = $("#final-ponto").val();
		var date = $("#final-data").val();
		$.ajax({
				url: url,
				type: 'post',
				data: {
					'beneficiario' : nis,
					'litros' : 4,
					'ponto'  : ponto,
					'data'   : 	date	        
				},
				headers: {
				'X-CSRFToken': csrftoken
				},
			success: function (data) {
				$("#modal-beneficiario-content").html(data);
			}
		});
	}
		
	</script>
</body>
</html>