<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% include 'relatorios/ga-tag.html' %}
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	{% load static %}	
	<link rel="icon" type="image/png" href="{% static "relatorios/images/icons/favicon.ico" %}"    />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/bootstrap/css/bootstrap.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/animate/animate.css" %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/css-hamburgers/hamburgers.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/animsition/css/animsition.min.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/select2/select2.min.css" %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/vendor/daterangepicker/daterangepicker.css" %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/css/util.css" %} ">
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/css/main.css" %} ">
	<link rel="stylesheet" type="text/css" href="{% static "relatorios/css/custom.css" %} ">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter  back" style="min-height: 100%;">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Sistema Leite</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
			  </ul>
			  <form action="{% url 'logout' %}" method="post"class="form-inline my-2 my-lg-0">
				{% csrf_token %}
				<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sair</button>
			  </form>
			</div>
		  </nav>
		<div class="container ">
			

			{% block footer %}
			<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

			{{ form.media }}

			<script>
			(function($) {
				$('#add-form').click(function() {
					var index = $('#id_inline_test_models-TOTAL_FORMS').val()
					var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
					newTable.find(':input').each(function() {
						for (attr of ['name', 'id'])
							$(this).attr(
								attr,
								$(this).attr(attr).replace('__prefix__', index)
							)
					})
					newTable.insertBefore($(this))
					$('#id_inline_test_models-TOTAL_FORMS').val(
						parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
					)
					newTable.slideDown()
				})
			})($)
			</script>
			{% endblock %}
			<div class="container-fluid insert-form" style="margin-top: -35px;    min-height: 64vh;">
			<form action="{% url 'save-transacao-ponto' %}" id="Teste" data-pontos-url="{% url 'ajax_last_beneficiarios' %}" method="post" style="margin-top: 20vh;">
				{% csrf_token %}
				<div class="form-group ">
					<label for="exampleFormControlSelect1">NIS | Beneficiário</label>
					{{form.beneficiario}}
					</div>

				<div class="form-group">
				  <label for="exampleFormControlSelect1">Ponto</label>
				  <select name=ponto class="form-control" id="exampleFormControlSelect1" required>
					{% for ponto in ponto_list %}
					<option value={{ponto.id}}>{{ponto.nome}} | {{ponto.cod_ibge.municipio}}</option>
					{% endfor %}
				  </select>
				</div>

				<div class="form-group">
					<label for="exampleFormControlSelect1">Litros</label>
					<input name=litros type=number step=1 value=1 min=1 max=4 /><br />
				  </div>

				  <div class="form-group">
					<label for="exampleFormControlSelect1">Data</label>
					<input name=data type=date value="{{today}}" min="{{today30}}" max="{{today}}" /> <br />
				  </div>

				  <div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Inserir
					</button>
				</div>
			  </form>
			  <b class="txt3">
				{% if request.session.insert_leite_final_error %}
				<p style="color: red; margin-top: 5%; margin-bottom: 5%;">{{ request.session.insert_leite_final_error }}</p>
				{% endif %}
				{% if request.session.insert_leite_final_success %}
				<p style="color: green; margin-top: 5%; margin-bottom: 5%;">{{ request.session.insert_leite_final_success }}</p>
				{% endif %}
			</b>

			<b>Beneficiários da Semana Passada:</b>
				<div id="lastBeneficiarios" class="last-ben">
					{% include 'relatorios/last-beneficiarios.html' %}
				</div>
			
			</div>
			  <div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/jquery/jquery-3.2.1.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/animsition/js/animsition.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/bootstrap/js/popper.js" %} "></script>
	<script src="{% static "relatorios/vendor/bootstrap/js/bootstrap.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/select2/select2.min.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/daterangepicker/moment.min.js" %} "></script>
	<script src="{% static "relatorios/vendor/daterangepicker/daterangepicker.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/vendor/countdowntime/countdowntime.js" %} "></script>
<!--===============================================================================================-->
	<script src="{% static "relatorios/js/main.js" %} "></script>
	<script>
		$("#exampleFormControlSelect1").change(function () {
		  var url = $("#Teste").attr("data-pontos-url");  // get the url of the `load_cities` view
		  var ponto = $(this).val();  // get the selected country ID from the HTML input
	
		  $.ajax({                       // initialize an AJAX request
			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
			  'ponto': ponto       // add the country id to the GET parameters
			},
			success: function (data) {   // `data` is the return of the `load_cities` view function
			  $("#lastBeneficiarios").html(data);  // replace the contents of the city input with the data that came from the server
			}
		  });
	
		});

		window.onload = function() {
				var url = $("#Teste").attr("data-pontos-url");  // get the url of the `load_cities` view
				var ponto = $("#exampleFormControlSelect1").val();  // get the selected country ID from the HTML input
			
				$.ajax({                       // initialize an AJAX request
					url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
					data: {
					'ponto': ponto       // add the country id to the GET parameters
					},
					success: function (data) {   // `data` is the return of the `load_cities` view function
					$("#lastBeneficiarios").html(data);  // replace the contents of the city input with the data that came from the server
					}
				});
			
				};
	  </script>
</body>
</html>